<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
	<link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <script src="/js/indexJS.js" defer></script>
</head>

<body>
	<div class="div-centerPage">
	    <form>
	        <label for="fname">Name</label>
	        <input type="text" id="fname" name="fname" required> <br>
	        <label for="fpass">Password</label>
	        <input type="password" id="fpass" name="fpass" required> <br>
	    </form>
	
	    <button type="submit" onmouseover="style='cursor:pointer'" id="submitButton">Log In</button>
	    <button type="button" onmouseover="style='cursor:pointer'" id="registerButton">Sign Up</button>
	</div>
</body>

</html>