<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
	<link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <script src="/js/signupJS.js" defer></script>
</head>
<body>
    <form>
        <label for="fname">Name</label>
        <input type="text" id="fname" name="fname" required> <br>

        <label for="fpass">Password</label>
        <input type="password" id="fpass" name="fpass" required> <br>

        <label for="floc">Location</label>
        <input type="text" id="floc" name="floc" required> <br>
		
		<input type="submit" value="Submit" id="buttonSubmit" onmouseover="style='cursor:pointer'">
    </form>

    <button type="button" onmouseover="style='cursor:pointer'" id="backButton">Back</button>
</body>
</html>