body {
	background: linear-gradient(-45deg, #03045E, #0077B6, #03045E, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.div-centerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-background {
    background-color: #0077b6;
    padding: 20px;
    border-radius: 10px;
	border: 2px solid #03045e;
}

.div-logIn {
	color: #03045e;
}

.div-logIn h1 {
	text-align: center;
}

.div-logIn button{
	background-color: #0077b6;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
