@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

html{
	overflow: hidden;
}

body {
	background: linear-gradient(-45deg, #03045E, #0077B6, #03045E, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.div-centerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-background {
    background-color: #0077b6;
    padding: 20px;
    border-radius: 10px;
	border: 2px solid #03045e;
	opacity: 0.8;
}

/*Login Screen*/

.div-logIn {
	color: #03045e;
	font-family: 'Bagel Fat One', cursive;
	max-width:50vh;
	max-height:70vh;
}

.div-logIn h1 {
	text-align: center;
	font-size: 10vh;
	margin-top:-1vh;
	margin-bottom: -1vh;
}

.div-logIn button{
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	min-height:10%;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

.div-logIn input {
	width: 45vh;
	height: 5vh;
	font-size: 4vh;
	font-family: 'Bagel Fat One', cursive;
	background-color:#00b4d8;
	border:none;
}

.div-logIn label {
	font-size: 5vh;
}

.div-logIn input, button, h1{
	display: flex;
	justify-content: center;
}

/*SignUp Screen*/

.div-signUp {
	color: #03045e;
	font-family: 'Bagel Fat One', cursive;
	max-width:50vh;
	max-height:80vh;
}

.div-signUp h1 {
	text-align: center;
	font-size: 10vh;
	margin-top:-1vh;
	margin-bottom: -1vh;
}

.div-signUp button{
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	min-height:10%;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

.div-signUp input {
	width: 45vh;
	height: 5vh;
	font-size: 4vh;
	font-family: 'Bagel Fat One', cursive;
	background-color:#00b4d8;
	border:none;
}

.div-signUp label {
	font-size: 5vh;
}

.div-signUp input, button, h1{
	display: flex;
	justify-content: center;
}

.div-signUp #buttonSubmit {
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	height:auto;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Main page*/

/*Div position*/
.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	font-family: 'Bagel Fat One', cursive;
	color:white;
	max-width:180vh;
	max-height:90vh;
}

.topLeft { grid-area: 1 / 1 / 4 / 4; margin: 5px; }
.bottomLeft { grid-area: 4 / 1 / 6 / 4; margin: 5px; }
.rightColumn { grid-area: 1 / 4 / 6 / 6; margin: 5px; }

/*Top div*/
.topLeft {
	display: flex;
	align-items: center;
	background-color: #0096C7;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #03045e;
	opacity: 0.8;
}

.cityInfoDiv, .cityImageDiv {
	flex: 1; /* Ocupan el mismo ancho */
	height: 100%;
  }

.cityInfoDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.cityInfoDiv h1, h2 {
	margin: 0;
	width: 100%;
}

.cityInfoDiv h1{
	font-size: 5vw;
}

.cityInfoDiv h2{
	font-size: 6vw;
}

.cityImageDiv img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*Bottom div*/
.bottomLeft {
	display: grid;
	max-width: 100%;
	max-height: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: #0096C7;
	border-radius: 10px;
	padding: 15px;
	border: 2px solid #03045e;
	opacity: 0.8;
	overflow: hidden;
}

	.feelsLikeDiv{ grid-area: 1 / 1 / 1 / 1;  border: 1px solid green;}
	.chanceOfRainDiv{ grid-area: 2 / 1 / 2 / 1; border: 1px solid green;}
	.windSpeedDiv{ grid-area: 1 / 2 / 1 / 2; border: 1px solid green;}
	.humidityDiv{ grid-area: 2 / 2 / 2 / 2; border: 1px solid green;}

.feelsLikeDiv, .chanceOfRainDiv, .windSpeedDiv, .humidityDiv {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.feelsLikeImageDiv, .feelsLikeInfo, .chanceOfRainImageDiv, .chanceOfRainInfo, .windSpeedImageDiv, .windSpeedInfo, .humidityImageDiv, .humidityInfo {
	flex: 1; /* Ocupan el mismo ancho */
	height: 100%;
  }

.bottomLeft img{
	max-width: 60%;
	height: auto;
	object-fit: contain;
}

.bottomLeft h3{
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 4vh;
}

/*Right Column*/
.forecastDay0, .forecastDay1, .forecastDay2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.forecastDayName { grid-area: 1 / 1 / 2 / 4; }
	.forecastDate { grid-area: 1 / 4 / 2 / 6; }
	.forecastCondition { grid-area: 2 / 3 / 3 / 6; }
	.forecastIcon { grid-area: 2 / 1 / 3 / 3; }

.rightColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0096C7;
	border-radius: 10px;
	padding: 30px;
	border: 2px solid #03045e;
	opacity: 0.8;
	flex-direction:column;
}

.forecastDay0, .forecastDay1, .forecastDay2 {
	width:100%;
	max-height:20vh;
	background-color:#00B4D8;
	padding:12px;
	border-radius: 10px;
	border: 2px solid #03045e;
}

.forecastDay1 {
	margin-top:5%;
	margin-bottom:5%;
}

.forecastDate, .forecastCondition {
	justify-self: end;
}

.forecastDayName, .forecastDate {
	font-size: 4vh;
}

.forecastIcon img {
	width: 90%;
	height: 90%;
	object-fit: contain;
	margin-top:-10%;
}

.forecastCondition {
	font-size: 3vh;
	margin-top:10%;
}