@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

html{
	overflow: hidden;
}

body {
	background: linear-gradient(-45deg, #03045E, #0077B6, #03045E, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.div-centerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-background {
    background-color: #0077b6;
    padding: 20px;
    border-radius: 10px;
	border: 2px solid #03045e;
	opacity: 0.8;
}

/*Login Screen*/

.div-logIn {
	color: #03045e;
	font-family: 'Bagel Fat One', cursive;
	max-width:50vh;
	max-height:70vh;
}

.div-logIn h1 {
	text-align: center;
	font-size: 10vh;
	margin-top:-1vh;
	margin-bottom: -1vh;
}

.div-logIn button{
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	min-height:10%;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

.div-logIn input {
	width: 45vh;
	height: 5vh;
	font-size: 4vh;
	font-family: 'Bagel Fat One', cursive;
	background-color:#00b4d8;
	border:none;
}

.div-logIn label {
	font-size: 5vh;
}

.div-logIn input, button, h1{
	display: flex;
	justify-content: center;
}

/*SignUp Screen*/

.div-signUp {
	color: #03045e;
	font-family: 'Bagel Fat One', cursive;
	max-width:50vh;
	max-height:80vh;
}

.div-signUp h1 {
	text-align: center;
	font-size: 10vh;
	margin-top:-1vh;
	margin-bottom: -1vh;
}

.div-signUp button{
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	min-height:10%;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

.div-signUp input {
	width: 45vh;
	height: 5vh;
	font-size: 4vh;
	font-family: 'Bagel Fat One', cursive;
	background-color:#00b4d8;
	border:none;
}

.div-signUp label {
	font-size: 5vh;
}

.div-signUp input, button, h1{
	display: flex;
	justify-content: center;
}

.div-signUp #buttonSubmit {
	background-color: #00b4d8;
	color: #03045e;
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	font-size: 5vh;
	min-width:100%;
	height:auto;
	margin-top:1vh;
	font-family: 'Bagel Fat One', cursive;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Main page*/

.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.topLeft { grid-area: 1 / 1 / 4 / 4; }
	.bottomLeft { grid-area: 4 / 1 / 6 / 4; }
	.rightColumn { grid-area: 1 / 4 / 6 / 6; }

.bottomLeft img{
	width: 20%;
	height: auto;
	object-fit: contain;
}

.bottomLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00b4d8;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid #03045e;
	opacity: 0.8;
}

.topLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00b4d8;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid #03045e;
	opacity: 0.8;
}

.rightColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00b4d8;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid #03045e;
	opacity: 0.8;
}